/* section-title */
.section_title {
	text-align: center;
	margin-bottom: 60px;

	@media (max-width:991px) {
		margin-bottom: 40px;
	}

	.section_nad {
		display: inline;
		color: $dgc-ink;
		font-family: $base-font;
		font-size: 20px;
		font-weight: 400;
		border-radius: 20px;
		background: $dgc-accent;
		color: $dgc-canvas;
		box-shadow: none;
		padding: 5px 20px;
		@media (max-width:767px) {
			font-size: 16px;
		}
	}

	h2 {
		font-size: 48px;
		line-height: 1.16;
		font-weight: 600;
		margin-bottom: 0;

		@media (max-width:991px) {
			font-size: 36px;
			line-height: 1.16;
		}
		@media (max-width:767px) {
			margin-top: 10px;
			font-size: 31px;
			line-height: 1.16;
		}
		@media (max-width:575px) {
			font-size: 25px;
			line-height: 1.3;
			margin-top: 5px;
		}
	}
}










.wpo-section-title {
	margin-bottom: 60px;

	@include media-query(767px) {
		margin-bottom: 40px;
	}

	span {
		text-transform: uppercase;
		font-size: 20px;
		color: $dgc-ink;
		font-family: $heading-font;
	}

	h2 {
		font-size: 25px;
		line-height: 1.3;
		margin: 0;
		margin-top: 15px;
		position: relative;
		text-transform: capitalize;
		font-family: $heading-font;
		padding-left: 40px;
		font-weight: 600;
		margin-top: 0;

		&:before {
			position: absolute;
			left: 0;
			top: 0;
			width: 10px;
			height: 100%;
			background: $dgc-accent;
			content: "";
		}

		@include media-query(767px) {
			font-size: 26px;
			line-height: 1.3;
		}

		@include media-query(330px) {
			font-size: 24px;
		}

	}

	p {
		font-size: 18px;
	}

}